* {
	box-sizing: border-box;
	border-collapse: collapse;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #eeeeee;
	margin: 0;
	min-height: 100vh;
	max-width: 100vw;
	display: grid;
	grid-template-columns: 18% 67% 15%;
	grid-template-rows: 200px 1fr 35vmin;
 } 

.header__title, .main__title, .footer__title {
	font-size: xx-large;
}

.nav__title, .aside__title, .article__title {
	font-size: x-large;
}

.header {
	grid-column: 1/-1;
	grid-row: 1/2;
	background-color: #00adb5;
}
	.header__title {
		font-family: 'Potta One', cursive;
		text-align: center;
		margin-top: 50px;
	}

	.header__subtitle {
		font-weight: bold;
		text-align: center;
	}

	header img {
		float: left;
		width: 20%;
		position: relative;
		z-index: 1;
		top: -200px;
	}

.nav {
	grid-column: 1/2;
	grid-row: 2/3;
}

	.nav__title {
		position: relative;
		left: 50px;
		top: 10px;
	}

	.list {
		list-style-type: none;
		margin: 0 0.5em;
		padding: 0;
	}

	.list__item {
		background-color: #00adb5;
		max-width: 150px;;
		margin: 0.1em;
		padding: 1em 0em;
		border-radius: 50%;
		border: solid #393e46;
		text-align: center;
	}

	.list__link {
		color: white;
		text-decoration: none;
	}

	.list__link:visited {
		color: #6930c3;
	}

	.list__link:hover {
		color:#393e46;
	}
.main {
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	margin-left: 3.5em;
	flex-flow: row wrap;
	justify-content: space-between;
}
	.main__title {
		min-width: 100%;
		margin-bottom: 0;
	}
	
	.article {
		width: 50%;
	}

		.article__title {
			width: 100%;
		}

		 .article__p {
			max-width: 75%;
			margin: 0px;
			margin-bottom: 0.5em;
		} 
		
		.article__img {
			margin: 1em;
			width: 20%;
			float: left;
		}

.aside {
	grid-column: 3/4;
	grid-row: 2/3;
}

	.searchbar-area {
		margin-top: 30px;
	}

	.searchbar-area__searchbar {
		max-width: 95%;
	}

		.button {
			background-color: #00adb5;
			color: white;
		}
	/* logos a l'aside */
	.sponsors__img {
		width: 100%;
		margin-bottom: 2.5em;
	}
	.header__img--aside {
		display: none;
	}

.footer {
	grid-column: 1/-1;
	grid-row: 3/4;
	background-color: #00adb5;
	bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 12% 1fr;
	grid-column-gap: 1.5em;
}
	.footer__title {
		grid-column: 1/-1;
		grid-row: 1/2;
	}

	.form {
		grid-column: 1/2;
		grid-row: 2/3;
		margin-left: 60px;
		margin-right: 110px;
	}

		.button--form {
			background-color: #6930c3;
			color: white;
			margin-top: 1em;
		}
	
	.last-survey {
		grid-column: 2/3;
		grid-row: 2/3;
	}

		.last-survey__question {
			font-style: italic;
		}

		.last-survey__percentage {
			color: #6930c3;
			border: solid 5px #6930c3;
			border-radius: 15px;
			background-color: #6930c3;
		}

	.social-networks {
		grid-column: 3/4;
		grid-row: 2/3;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		margin-left: 110px;
		margin-right: 60px;
		margin-bottom: 20px;
	}
		.social-networks__p {
			width: 100%;
		}

		.button--social {
			color: white;
			background-color: #00adb5;
			border: solid #00adb5;
			font-size: 30px;
			width: 20%;
			margin: 0 2px;
		}
			.button--social:hover {
				color: #6930c3
			}

			.button--social:active {
				color: white;
			}

@media screen and (min-width: 577px) and (max-width: 922px) {
	body {
		grid-template-rows: 200px 1fr 55vmin;
	}

	.header__img {
		top: -130px;
	}

	.main {
		margin-left: 7em;
	}

	/* Els articles passen a una columna */
	.article {
		width: 100%;
	}

	.footer div {
		margin: 0;
	}
}

@media screen and (max-width: 576px) {
	body {
		display: flex;
		flex-direction: column;
	}
	.header, .nav, .main, .article, .aside, .footer {
		width: 100%;
	}
	
	.main__title, .article__title, .searchbar__label, .form__question, .last-survey__p, .social-networks__p, .list {
		text-align: center;
	}

	.nav {
		margin: 2em auto;
	}
	
		.list__item {
			display: inline;
			background-color: #00adb5;
			max-width: 150px;;
			margin: 0.1em;
			padding: 1em 0em;
			border-radius: 50%;
			border: solid #393e46;
			text-align: center;
		}
	
		.list__link {
			color: white;
			text-decoration: none;
		}
	
		.list__link:visited {
			color: #6930c3;
		}
	
		.list__link:hover {
			color:#393e46;
		}

		.nav__title {
			display: none;
		}


	/*aside*/
		.sponsors__img {
			width: 40%;
			margin: 0.5em;
		}
		.header__img {
			display: none;
		}
		.header__img--aside {
			display: inline;
		}
		.searchbar__label {
			display: block;
		}

		.searchbar-area {
			margin: auto;
			text-align: center;
		}

		.searchbar-area__searchbar {
			height: 35px;
			margin-top: 0.5em;
		}

	.main {
		margin: 0;
	}
	
		.article {
			margin: 1em;
		}

		.article__p {
			max-width: 100%;
		}

	.footer {
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	} 

		.form__div {
			margin-left: 5em;
		}
		.button--form {
			margin-left: 6.5em;
		}

		.last-survey__percentage, .last-survey__option {
			margin-left: 7.5em;
		}

		.social-networks {
			margin: auto;
			margin-bottom: 0.5em;
		}

	button {
		width: 65px;
		height: 35px;
	}
}
